Week-2/node_modules
Week-2/.env

# Hardhat files
Week-2/cache
Week-2/artifacts

# TypeChain files
Week-2/typechain
Week-2/typechain-types

# solidity-coverage files
Week-2/coverage
Week-2/coverage.json

# Hardhat Ignition default folder for deployments against a local node
Week-2/ignition/deployments/chain-31337
